*{
	
}
body{
	max-width: 1322px;
	margin: 0;
	padding: 0;
}

/**topbar**/
.topbar{
	height: 25px;
	width:100%;
	background-color: #fff;
	position: absolute;
	float: left;
	font-family: sans-serif;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
}
.topbar a{
	padding-left: 15px;
	color: rgb(0,0,0,0.6);
	text-decoration: none;
	padding-bottom: 2px;
	padding-top: 2px;
}
.topbar a:hover{
	color: purple;
	
}
.topbar img{
	width:12px;
	height: 12px;
	padding-right: 5px;
}

.home{
	width:700px;
	display: inline-block;
	padding: 2px;
	float: left;
	text-decoration: none;

}
.sellers{
	width: 217px;
	display: inline-block;
	text-align: left;
	padding: 2px;

}
.delivery{
	width: 362px;
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: 30px;
	/**padding: 2px;**/
}

/**header**/
.header{
	font-family: sans-serif;
	width: 100%;
	height: 136px;
	background-color: rgb(0,0,0,0.05);
	align-items: center;
}
.header .jamboimg img{
	width: 210px;
	height: 75px;
	padding-top: 45px;
	padding-left: 17px;
	float: left;
}
.header .search{
	height: 37px;
	width: 700px;
	float: left;
	margin-top: 65px;
	margin-left: 23px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px #00000070;
}
.header .search .category{
	background-color: rgb(100,0,150);
	width: 45px;
	height: 37px;
	color: #fff;
	margin-top: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	
}
.header .search .category p{
	padding-bottom: 10px;
	padding-left:  10px;
	align-items: center;
}
.header .search .input{
	margin-top: 0;
}
.input input[id="search"]:focus{
	border:1px solid rgb(100,0,150);
	
}

.searchIcon{
	background-color: rgb(100,0,150);
	float: right;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 40px;
	height: 37px;
	margin-top: -38px;
}
.searchIcon img{
	width: 25px;
	height: 25px;
	padding-top: 5px;
	margin-left: 10px;
}
.header .user{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
	padding-left: 30px;
	font-size: 11px;
}
.header .user img{
	width:25px;
	height: 25px;
}
.header .user .login{
	width: 37px;
	height: 55px;
	float: left;
	padding-left: 10px;
	align-items: center;
	text-align: center;
	margin-top: 15px;
}
.header .user .register{
	width: 37px;
	height: 55px;
	float: left;
	padding-left: 10px;
	align-items: center;
	text-align: center;
	margin-top: 15px;
}
.header .user a{
	color: rgb(0,0,0,0.6);
	text-decoration: none;
}
.header .cart{
	float: left;
	margin-top: 50px;
	padding-left: 30px;
	margin-left: 40px;
}
.header .cart .cart-text{
	align-items: center;
	text-align: center;
	float: left;
	margin-top: 15px;
}
.header .cart .cart-img{
	background-color: rgb(100,0,150);
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 10px; 
	margin-top: 15px;
	border-radius: 2px;
	padding: 5px;
}
.header .cart .cart-img img{
	width: 33px;
	height: 33px;
}
.cart:hover .cart-text{
	color: rgb(0,0,150);
}
.cart:hover .cart-img{
	background-color: rgb(0,0,150);
}


/**navbar**/

.navbar{
	width: 100%;
	height: 43px;
	background-color: rgb(100,0,150);
	font-family: sans-serif;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}
.navbar .categories{
	height: 23px;
	width: 185px;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: rgb(250,170,20);
	padding-left: 48px;
	font-weight: 15px;
	margin-left: 15px;
	float: left;
}
.navbar .categories:hover{
	background-color: #fff;
	color: rgb(100,0,150);
}
.navbar .tokens{
	float: left;
	height: 23px;
	width: 230px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.navbar .tokens:hover{
	background-color: #fff;
	color: rgb(0,0,0);
}
.navbar .water{
	float: left;
	height: 23px;
	width: 140px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.navbar .water:hover{
	background-color: #fff;
	color: rgb(0,0,0);
}
.navbar .airtime{
	float: left;
	width: 150px;
	height: 23px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.navbar .airtime:hover{
	background-color: #fff;
	color:rgb(0,0,0);
}
.navbar .sub-menu-1{
	display: none;
	z-index: 4;
	margin: 10px;
	padding: 5px;
}
.navbar li{
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	border:1px solid rgb(0,0,0,0.05);
}
.navbar .sub-menu-1 a{
	color: rgb(0,0,0);
	text-decoration: none;
	margin-bottom: 2px;
}
.navbar .categories:hover .sub-menu-1{
	display:block;
	position: absolute;
	background:#fff;
}
.navbar .water:hover .sub-menu-1{
	display:block;
	position: absolute;
	background:#fff;
	margin-top: 12px;
}
.navbar li:hover{
	background-color: rgb(0,0,0,0.05);
}
.navbar .contact{
	float: right;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}
.navbar .contact img{
	width: 18px;
	height: 18px;
	padding-right:  5px;
}


/**marketting**/

.marketting{ 
	width: 100%;
	height: 530px;
}
.marketting .main-img{
	width: 940px;
	height: 500px;
	margin:20px;
	border-radius: 15px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.marketting .main-img img{
	width: 940px;
	height: 500px;
}
.marketting .sub-img{
	float: right;
	width: 330px;
	display: block;
	height: 500px;
	overflow: hidden;
}
.marketting .sub-img-1{
	width: 330px;
	border-radius: 15px;
	height: 230px;
}
.marketting .sub-img-2{
	width: 330px;
	border-radius: 15px;
	height: 230px;
}
.marketting .sub-img img{
	height: 230px;
	width: 330px;

}