*{
	
}
body{
	max-width: 1322px;
	margin: 0;
	padding: 0;
}

/**topbar**/
.topbar{
	height: 25px;
	width:100%;
	background-color: #fff;
	position: absolute;
	float: left;
	font-family: sans-serif;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
}
.topbar a{
	padding-left: 15px;
	color: rgb(0,0,0,0.6);
	text-decoration: none;
	padding-bottom: 2px;
	padding-top: 2px;
}
.topbar a:hover{
	color: purple;
	
}
.topbar img{
	width:12px;
	height: 12px;
	padding-right: 5px;
}

.home{
	width:700px;
	display: inline-block;
	padding: 2px;
	float: left;
	text-decoration: none;
	margin-top: 3px;

}
.sellers{
	width: 217px;
	display: inline-block;
	text-align: left;
	padding: 2px;
	margin-top: 5px;

}
.delivery{
	width: 362px;
	display: inline-block;
	text-align: right;
	float: right;
	margin-right: 30px;
	margin-top:-15px;
	/**padding: 2px;**/
}
@media(max-width: 1200px){
	.topbar{
		font-size: 10px;
	}
	.topbar img{
		width: 8px;
		height: 8px;
	}
	.home{
		width: 45%;
	}
	.sellers{
		width: 35%;
	}
	.delivery{
		width: 19%; 
		margin-right: 0;
		margin-top: 5px;
	}
}
@media(max-width: 500px){
	.topbar{
		font-size:7px;
	}
	.home{
		width: 50%;
	}
	.sellers{
		width: 39%
	}
	.delivery{
		width: 10%;
		margin-top: -15px;	
	}
}

/**header**/
.header{
	font-family: sans-serif;
	width: 100%;
	height: 136px;
	background-color: rgb(0,0,0,0.05);
	align-items: center;
}
.header .jamboimg img{
	width: 210px;
	height: 75px;
	padding-top: 45px;
	padding-left: 17px;
	float: left;
}
.header .search{
	height: 37px;
	width: 700px;
	float: left;
	margin-top: 65px;
	margin-left: 23px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 15px #00000070;
}
.header .search .category{
	background-color: rgb(32,17,48);
	width: 45px;
	height: 37px;
	color: #fff;
	margin-top: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}
.header .search .category p{
	margin-top: 9px;
	padding-bottom: 25px;
	margin-bottom: 5px;
	padding-left:  10px;
	align-items: center;
}
.header .search .input{
	margin-top: 0;
}
.input input[id="search"]:focus{
	border:1px solid rgb(32,17,48);
	
}

.searchIcon{
	background-color: rgb(32,17,48);
	float: right;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 40px;
	height: 37px;
	margin-top: -38px;
}
.searchIcon img{
	width: 25px;
	height: 25px;
	padding-top: 5px;
	margin-left: 10px;
}
.header .user{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
	padding-left: 30px;
	font-size: 11px;
}
.header .user img{
	width:25px;
	height: 25px;
}
.header .user .login{
	width: 37px;
	height: 55px;
	float: left;
	padding-left: 10px;
	align-items: center;
	text-align: center;
	margin-top: 15px;
}
.header .user .register{
	width: 37px;
	height: 55px;
	float: left;
	padding-left: 10px;
	align-items: center;
	text-align: center;
	margin-top: 15px;
}
.header .user a{
	color: rgb(0,0,0,0.6);
	text-decoration: none;
}
.header .cart{
	float: left;
	margin-top: 50px;
	padding-left: 30px;
	margin-left: 40px;
}
.header .cart .cart-text{
	align-items: center;
	text-align: center;
	float: left;
	margin-top: 15px;
}
.header .cart .cart-img{
	background-color: rgb(32,17,48);
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 10px; 
	margin-top: 15px;
	border-radius: 2px;
	padding: 5px;
}
.header .cart .cart-img img{
	width: 33px;
	height: 33px;
}
.cart:hover .cart-text{
	color: rgb(0,0,150);
}
.cart:hover .cart-img{
	background-color: rgb(0,0,150);
}
@media(max-width: 1200px){
	.header .jamboimg{

	}
	.header .search{

	}
	.header .user{

	}
	.header .cart{
		
	}
}

/**navbar**/

.navbar{
	width: 100%;
	height: 43px;
	background-color: rgb(32,17,48);
	font-family: sans-serif;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}
.navbar .categories{
	height: 23px;
	width: 185px;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: rgb(250,150,11);
	padding-left: 48px;
	font-weight: 15px;
	margin-left: 15px;
	float: left;
}
.navbar .categories:hover{
	background-color: #fff;
	color: rgb(100,0,150);
	cursor: pointer;
}
.navbar .tokens{
	float: left;
	height: 23px;
	width: 230px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.navbar .sub-menu-1{
	background-color: #fff;
}
.navbar .tokens:hover{
	background-color: #fff;
	color: rgb(0,0,0);
	cursor: pointer;
}
.navbar .water{
	float: left;
	height: 23px;
	width: 140px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.navbar .water:hover{
	background-color: #fff;
	color: rgb(0,0,0);
	cursor: pointer;
}
.navbar .airtime{
	float: left;
	width: 150px;
	height: 23px;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.navbar .airtime:hover{
	background-color: #fff;
	color:rgb(0,0,0);
	cursor: pointer;
}
.navbar .sub-menu-1{
	display: none;
	z-index: 4;
	margin: 10px;
	padding: 5px;
}
.navbar li{
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	border:1px solid rgb(0,0,0,0.05);
}
.navbar .sub-menu-1 a{
	color: rgb(0,0,0);
	text-decoration: none;
	margin-bottom: 2px;
}
.navbar .sub-menu-2 a{
	color: rgb(0,0,0);
	text-decoration: none;
	margin-bottom: 2px;
}

.navbar .categories:hover .sub-menu-1{
	display:block;
	position: absolute;
	background:#fff;
}.navbar .categories:hover .sub-menu-2{
	display: none;
}
.navbar .water:hover .sub-menu-1{
	display:block;
	position: absolute;
	margin-top: 12px;
}
.navbar li:hover{
	background-color: rgb(0,0,0,0.05);
}
.food .sub-menu-2{
	display: none;
}
.food:hover .sub-menu-2 ul li{
	position:absolute;
	display: block;
	z-index: 5;
}
.household .sub-menu-2{
	display: none;
}
.navbar .contact{
	float: right;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}
.navbar .contact img{
	width: 18px;
	height: 18px;
	padding-right:  5px;
}


/**marketting**/

.marketting{ 
	width: 100%;
	height: 530px;
}
.marketting .main-img{
	width: 940px;
	height: 500px;
	margin:20px;
	border-radius: 15px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.marketting .main-img img{
	width: 940px;
	height: 500px;
}
.marketting .sub-img{
	float: right;
	width: 300px;
	display: block;
	height: 500px;
	padding-right: 20px;
	margin-right: 15px;
	margin-top: 20px;
}
.marketting .sub-img-1{
	width: 330px;
	border-radius: 15px;
	height: 230px;
	overflow: hidden;
	margin-bottom: 5px;
	border:1px solid rgb(0,0,0,0.05);
}
.marketting .sub-img-1:hover .img-text{
	cursor: pointer;
	background-color: rgb(0,0,0,);
}
.marketting .sub-img-2{
	width: 330px;
	border-radius: 15px;
	height: 230px;
	overflow: hidden;
	border:1px solid rgb(0,0,0,0.05);
}
.marketting .sub-img img{
	height: 230px;
	width: 330px;
	border-radius: 15px;
}
.marketting .img-text{
	margin-top: -230px;
	padding-left: 10px;
	width:330px;
	height: 230px;
}
.marketting .img-text:hover{
	background-color: rgb(0,0,0,0.5);
}
.marketting .img-text text{
	font-size: 15px;
	font-weight: bold;
}
.marketting .img-text h4{
	font-weight: bold;
}
.marketting .sub-img-1 p{
	color: #fff;
	font-weight: bold;
}
.marketting .sub-img-1 h4{
	color: #fff;
}
.marketting .sub-img-2  p{
	font-weight: bold;
}
.slideshow{
	z-index: -3;
}
.slideshow img{
	z-index: -3;
}


/**Service**/

.service{
	width: 100%;
	height: 95px;
	background-color: rgb(32,17,48);
	display: inline-block;
	color: #fff;
	font-family: sans-serif;
	font-size: 14px;
}
.service-min{
	width:25%;
	float: left;
}
.service-img{
	float: left;
	padding: 5px
}
.service-text{
	float:left;
	padding:5px;
}
.service img{
	width: 70px;
	height: 70px;
	margin-right: 5px;
	padding-right: 20px;
	margin-top:10px;
}
}
.service .affordable{
	margin-left: 25px;
}


/**prducts**/

.products{
	width: 100%;
	font-family: sans-serif;
}
.product-header{
	align-items: center;
}
.product-category{
	width: 600px;
	align-items: center;
	text-align: center;
	height: 30px;
	background-color: rgb(0,0,0,0.05);
	margin-left: 350px;
	margin-right: 300px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom:  20px;
}
.category-1{
	width: 200px;
	height: 30px;
	color: #fff;
	float:left;
	background-color: rgb(32,17,48);
	text-align: center;
}
.category-1 p{
	margin-top: 5px;
}
 .category-2{
	width: 198px;
	float: left;
}
.category-2:hover{
	background-color: rgb(32,17,48);
	color: #fff;
	height: 30px;
}
.category-3{
	width: 202px;
	float: left;
}
.category-3:hover{
	background-color: rgb(32,17,48);
	color: #fff;
	height: 30px;
}
.category-2 p{
	margin-top: 5px;
}
.category-3 p{
	margin-top: 5px;
}


/**product line / item**/

.product-l1{
	width: 100%;
	height: auto;
	display: inline-block;
}
.line{
	width: 100%;
	height: auto;
}
.item-img{
	overflow: hidden;
}
.item{
	width: 300px;
	height: 350px;
	border:1px solid rgb(0,0,0,0.05);
	float: left;
	margin-left: 20px;
	text-align: center;
	align-items: center;
	overflow: hidden;
}
.item:hover img{
	transform: scale(1.2);
	transition: 2s;
	overflow: hidden;
}
.item img{
	height: 350px;
	width: 300px;
	z-index: -3;
}
.item-1{
	width: 300px;
	height: 350px;
	border:1px solid rgb(0,0,0,0.05);
	float: left;
	margin-left: 20px;
	text-align: center;
	align-items: center;
	overflow: hidden;
}
.item-1:hover img{
	transform: scale(1.2);
	transition: 2s;
	overflow: hidden;
}
.item-1 img{
	height: 350px;
	width: 300px;
	z-index: -3;
}
.item-2{
	width: 300px;
	height: 350px;
	border:1px solid rgb(0,0,0,0.05);
	float: left;
	margin-left: 20px;
	text-align: center;
	align-items: center;
	overflow: hidden;
}
.item-2:hover img{
	transform: scale(1.2);
	transition: 2s;
	overflow: hidden;
}
.item-2 img{
	height: 350px;
	width: 300px;
	z-index: -3;
}
.item-3{
	width: 300px;
	height: 350px;
	border:1px solid rgb(0,0,0,0.05);
	float: left;
	margin-left: 20px;
	text-align: center;
	align-items: center;
	overflow: hidden;
}
.item-3:hover img{
	transform: scale(1.2) ;
	transition: 2s;
	overflow: hidden;
}
.item-3 img{
	height: 350px;
	width: 300px;
	z-index: -3;
}
.item-text{
	background-color: gray;
	width: 100px;
	align-items: center;
	text-align: center;
	margin-top: -50px;
	margin-left: 40px;
	color: #fff;
	z-index: 4;
}
.item .item-text{
	width:150px;
	z-index: 4;
}
.item-3 .item-text{
	width: 150px;
	z-index: 4;
	color: black;
}
.item-1 .item-text{
	background-color: gray;
	z-index: 4;
	color: black;
}


/**product line 2**/

.product-item{
	width: 300px;
	height: 500px;
	border:1px solid rgb(0,0,0,0.05);
	float: left;
	margin-left: 15px;
	font-family: sans-serif;
	border-radius: 3px;
	overflow: hidden;
}
.product-item .item-img img{
	width: 300px;
	height:300px;
}
.product-item .item-img img:hover{
	transform: scale(1.2);
	transition: 2s;
}
.product-item .item-desc{
	width: 300px;
	margin-bottom: 20px;
}
.product-item .price{
	width: 300px;
	height: 15px;
	margin-bottom: 20px;
}
.product-item .essential{
	display: inline-block;
	height: 15px;
	margin-top: 5px;
	margin-bottom: 25px;
}

.product-item .qty{
	width: 25px;
	height: 15px;
	float: left;
}
.product-item .cart-add{
	color: #fff;
	background-color: navy;
	float: left;
	width: 80px;
	height: 25px;
	border-radius: 5px;
	cursor: pointer;
}
.cart-add p{
	margin-top: 5px;
	margin-bottom: 5px;
}
.product-item .comm{
	margin-left: 130px;
	display: inline-block;
	float: right;
}

.product-item .comm img{
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.comm .like{
	float: left;
	margin-right: 10px;
}
.comm .next{
	float: left;
}

.product-item .purchase{
	width: 300px;
	height: 30px;
	display: inline-block;
	background-color: rgb(0,0,0,0.05);
	font-size: 12px;
}
.purchase .buy{
	width: 50px;
	height: 20px;
	float: left;
}
.purchase .qn{
	float: right;
	width: 50px;
	height: 20px;
}


/**extension**/


.extension{
	width: 100%;
	align-items: center;
}
.extension  .more{
	width: 150px;
	height: 30px;
	margin-left: 600px;
	margin-right: 600px;
	background-color: rgb(32,17,48);
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}
.extension .more p{
	color: #fff;
	padding: 2px;
	padding-top: 7px;
	padding-left: 15px;
	margin-top: 10px;
}
/**most viewed**/
.most-viewed .title{
	width: 100%;
	text-align: left;
	border-bottom: 3px solid rgb(250,150,11);
	margin-bottom: 20px;
}
.most-viewed .title p{
	color: rgb(32,17,48);
	margin-bottom: 1px;
	font-size: 25px;
}


/**product w-5**/

.most-viewed .product-item{
	width: 230px;
	overflow: hidden;
}
.most-viewed .product-item img{
	width: 230px;
}
.most-viewed .purchase{
	width: 230px;
}
.most-viewed .product-item .comm img{
	width: 25px;
	height: 25px;
}
.most-viewed .product-item .essential{

}
.most-viewed .product-item .comm {
	margin-top: -25px;
}
.most-viewed .product-item .essential .cart-add{
	margin-top: 10px;
}
.most-viewed .product-l1{
	margin-bottom: 15px;
}



/** featured category**/


.fcategory{
	height: 300px;
	width: 100%;
}
.f-header{
	width: 100%;
	height: 100px;
	background-color: rgb(0,0,0,0.05);
	align-items: center;
	text-align: center;
}
.f-category h4{
	padding-top: 20px;
	font-family: sans-serif;
	color: rgb(32,17,48);
	font-size: 1.25em;
}
.fcategory .span{
	display: inline-block;
}
.fcategory .span .prod1{
	float: left;
	background-color: rgb(0,0,0,0.05);
}
.fcategory .span .prod-header{
	height: 50px;
	border-bottom: 2px solid rgb(250,150,11);
	margin-right: 5px;
	margin-left: 20px;
}
.fcategory .span .prod-header p{
	font-weight: bold;
	color: rgb(32,17,48);
}
.fcategory .span .prod1 .prod-header{
	padding-left: 20px;
}
.fcategory .span .prod2{
	float: left;
}
.fcategory .span .prod2 .prod-header{
	padding-left: 30px;
	padding-top: 15px;
}

.fcategory .prod3, .prod4, .prod5{
	margin-top: 68px;
	float: left;
}
.fcategory .cart-add{
	padding-left: 5px;
	margin-left: 5px;
}
.fcategory .comm{
	margin-right: 5px;
}